<app-title id="fotos" title="¡Hola!"> </app-title>

<section data-aos="fade-right">

  <hr>

  <div class="row">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">

      <div>
        <img class="avatar" src="./assets/ella.jpg" alt="">
        <br>
        <hr>
        <app-hr-text [text]="'Karla'  | uppercase"> </app-hr-text>
        <hr>
      </div>


    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
      <div>
        <div class="text-center">
          <p>Este es un paso más en mi vida y quiere compartirlo con cada uno de ustedes.</p>
          <p>
            Agradezco a las personas que me guiaron hasta el día de hoy y me enseñaron a ser aquella persona
            llena de sueños e ilusiones
            para que en este día pueda presentarme ante Dios por estos 15 años de vida que me ha permitido
            compartir con mis seres queridos y en especial
            con está gran familia que me ha guiado en cada uno de mis pasos.
          </p>


          <p>
            Este es un comienzo de una nueva etapa en el que me permitiré seguir adelante, luchando por mis
            objetivos y creando nuevas metas para que
            el día de mañana pueda regresar a cada uno de ustedes y a Dios ese apoyo que un día me dieron.
          </p>
        </div>



      </div>
    </div>
  </div>
  <br><br>


  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let photo of [1,2,3,4,5]">
      <figure class="img-container">
        <img [src]="'./assets/fotos/foto' + photo + '.jpg'">
      </figure>
    </ng-template>
  </swiper>

  <hr>

</section>
