
section{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
}

.time-container {
  color: #000;
  margin-top: 6px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(220 220 220 / 50%);
  margin-bottom: 10px;
  font-size: 11px;
  width: 270px;
  height: auto;
  border-radius: 4px;
  padding: 4px;
}

.time {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  span:first-child {
    font-size: 12px;
  }

  span:last-child {
    font-size: 13px;
    //background-color: #fff;
    padding: 14px;
  }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--tip-color-dark);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media (min-width: 576px) {
  .time-container{
    width: 300px;
  }
}

@media (min-width: 768px) {
  .time {
    span:first-child {
      font-size: 12px;
    }

    span:last-child {
      font-size: 14px;
      padding: 3px;
    }
  }
  .time-container{
    width: 350px;
  }
}


@media (min-width: 992px) {
  .time {
    span:first-child {
      font-size: 14px;
    }

    span:last-child {
      font-size: 18px;
      padding: 3px;
    }
  }
  .time-container{
    width: 330px;
  }
}


@media (min-width: 1200px) {
  .time {
    span:first-child {
      font-size: 18px;
    }

    span:last-child {
      font-size: 20px;
      padding: 3px;
    }
  }
  .time-container{
    width: 275px;
  }
}
