<app-title id="mapa" [title]="'&#9733;&#9733;&#9733; Fechas &#9733;&#9733;&#9733;'"> </app-title>

<section>

  <div class="back">

    <br>

    <div class="btn-group-custom">
      <button class="btn btn-primary"
        [ngStyle]=" isPuebla === true ? { 'animation': '2s pulse2 infinite' } : { 'animation': 'none' } "
        (click)="filter(true)"> Ver ceremonia de Puebla </button>
      <button class="btn btn-primary"
        [ngStyle]=" isPuebla === false ? { 'animation': '2s pulse2 infinite' } : { 'animation': 'none' } "
        (click)="filter(false)"> Ver ceremonia de México </button>
    </div>

    <br>

    <app-hr-text [text]="directions[indexDirection].title | uppercase" *ngIf="directions.length !== 0"> </app-hr-text>

    <div class="row" *ngIf="directions.length !== 0" data-aos="fade-up">

      <div class="col-12 col-lg-6 ">

        <div class="content" data-aos="flip-left">
          <div>
            <b>Fecha y Hora: </b>
            <p> {{ directions[indexDirection].date }} </p>
          </div>

          <div>
            <b>Lugar: </b>
            <p> {{ directions[indexDirection].place }} </p>
          </div>

          <div>
            <b>Dirección: </b>
            <p> {{ directions[indexDirection].direction }}</p>
          </div>

          <button class="btn btn-secondary" (click)=" setDirection()" *ngIf="isPuebla">
            {{ directions[indexDirection].textChange }}
          </button>

          <br>
          <br>

          <img [src]=" directions[indexDirection].urlImage | safePipe " alt="">

        </div>

      </div>
      <div class="col-12 col-lg-6 ">

        <div class="container-map" data-aos="flip-left">
          <iframe [src]=" directions[indexDirection].url | safePipe" width="300" height="300" style="border:0;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>

      </div>
    </div>

  </div>



</section>
