section{
  width: 100%;
  height: auto;
  background: var(--color);
  padding: 1rem;
}

.back{
  background: #fff;
  border-radius: 10px;
  padding-bottom: 1rem;
}

.content{
  margin: 1rem 0px;
  width: 100%;
  text-align: center;
}


img{
  border-radius: 10px;
  width: 250px;
  height: 250px;
}


.container-map{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
