<app-title id="mapa" [title]="'&#9733;&#9733;&#9733; Fechas &#9733;&#9733;&#9733;'"> </app-title>

<section>

  <div class="back">

    <br>

    <div class="btn-group-custom">
      <button class="btn btn-primary" [ngStyle]="  { 'animation': '2s pulse2 infinite' } " (click)="onClick()">
        {{ isMisa ? 'Ver la fiesta' : 'Ver la misa' }}
      </button>
    </div>

    <br>

    <app-hr-text [text]="defaultDirections[indexDirection].title | uppercase" *ngIf="defaultDirections.length !== 0">
    </app-hr-text>

    <div class="row" *ngIf="defaultDirections.length !== 0" data-aos="fade-up">

      <div class="col-12 col-lg-6 ">

        <div class="content" data-aos="flip-left">
          <div>
            <b>Hora: </b>
            <p> {{ defaultDirections[indexDirection].date }} </p>
          </div>

          <div>
            <b>Lugar: </b>
            <p> {{ defaultDirections[indexDirection].place }} </p>
          </div>

          <div>
            <b>Dirección: </b>
            <p> {{ defaultDirections[indexDirection].direction }}</p>
          </div>

          <br>
          <br>

          <img [src]=" defaultDirections[indexDirection].urlImage | safePipe " alt="">

        </div>

      </div>
      <div class="col-12 col-lg-6 ">

        <div class="container-map" data-aos="flip-left">
          <iframe [src]=" defaultDirections[indexDirection].url | safePipe" width="300" height="300" style="border:0;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>

      </div>
    </div>

  </div>



</section>
