<section id="home" class="banner" data-aos="zoom-in">
  <div class="mt-5 flex-container">
    <p class="subtitle"> MIS XV AÑOS </p>
    <p class="title"> Karla Jocelyn </p>
    <br>


    <div class="container-data">
      <strong> {{ date | date: 'fullDate' }} </strong>
      <app-counter [finishDateString]="date"></app-counter>
    </div>

    <br>
    <b> Click me </b>
    <a href="#fotos" class="btn btn-primary pulser">
      <i class="fa fa-heart" aria-hidden="true"></i>
    </a>
    <br>
  </div>

</section>
